doctype 5
html
  head
    title='Kim Kwanka\'s ' + title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .stickyFooterWrapper
      header
        .container        
          .row          
              .column.column-50.column-offset-25
                a(href='//kimkwanka.com' target='_blank' style='text-align:center') Kim Kwanka's
                h1=title
      .container        
        .row          
          .column.column-50.column-offset-25          
            blockquote
              h2 User stories:
              p 1) I can get the image URLs, alt text and page urls for a set of images relating to a given search string.
              p 2) I can paginate through the responses by adding a ?offset= parameter to the URL.
              p 3) I can get a list of the most recently submitted search strings.
            
            h3 Example usage:
            pre: code=url+'/api/search/cat%20funny?offset=2'
            pre: code=url+'/api/latest/'

            h3 Example output:
            pre: code { "shorturl":"http://shortgurl.herokuapp.com/-qzx08e", "url":"https://www.google.com" }

    footer
          a(href='https://github.com/kimkwanka/fcc-isal' target='_blank') View source on Github
